@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

body {
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator {
  padding: 15px;
  border: 2px solid #6f7379;
  border-radius: 15px;
  box-shadow: 0 0 15px #000;
}

.display input {
  width: 360px;
  cursor: pointer;
  text-align: right;
  border: 2px solid #6f7379;
  border-radius: 20px;
  outline: none;
  color: #fff;
  background-color: transparent;
  font-size: 40px;
  padding: 20px;
  margin: 10px 10px 20px 10px;
}

input::placeholder {
  color: #fff;
}

button {
  width: 70px;
  height: 70px;
  margin: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  box-shadow: -5px -6px 15px #000;
  background-color: transparent;
  border: 0;
  outline: 1px solid #313131;
  outline-offset: 3px;
  border-radius: 50%;
  cursor: pointer;
}

button:active {
  transform: translate(2px, 2px);
  background: #000;
}

.operation {
  background-color: #313131;
  color: rgb(255, 206, 143);
  font-weight: 700;
}

#equalBtn {
  background-color: chocolate;
  font-weight: 900;
}

#equalBtn:active {
  background-color: rgb(109, 57, 37);
}
